<form [formGroup]="editStudentForm " (ngSubmit)="editStudentDialog()">
    <mat-form-field>
        <mat-label>usuario</mat-label>
        <input matInput formControlName="usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>apellido</mat-label>
        <input matInput formControlName="apellido">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary"> Modificar</button>
</form>